cachelib
certifi
eventlet
Flask
Flask-Session
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
greenlet
httpcore
httpx
idna
itsdangerous
Jinja2
jiter==0.9.0
jsonpatch
jsonpointer==2.1
langchain-core
langchain-openai==0.3.16
langsmith
MarkupSafe
msgspec
openai==1.78.1
orjson
packaging
pycparser
pydantic
pydantic_core
pyOpenSSL
PySocks
python-dateutil
python-dotenv
python-engineio
python-socketio
PyYAML
regex==2024.11.6
requests
requests-toolbelt
setuptools==72.1.0
simple-websocket
six
sniffio
SQLAlchemy
tenacity
tiktoken==0.9.0
tqdm==4.67.1
typing_extensions
urllib3
Werkzeug
wheel==0.45.1
wsproto
WTForms
zstandard